<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="images/favi.png">
    <title>Achar</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Dangrek&family=Montserrat&family=Tiro+Devanagari+Hindi&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div class="content">
     <div class="navbar">
      <div id="">
      <img id="img-1" src="images/favi.png" alt="">
      </div>
      <div id = "c-name">
      <img id="ps" src="images/PawanSir02.png" alt="">
      </div>

     </div>

     <div class="main-body">
      <div id="dis">
        <p>Order sweet and spicy mango pickel at home</p>
        <button id="ingredients" type="button" name="button">Tap here to see Ingredients</button>
      </div>
      <div class="im">
      <div class="image">
        <img src="images/achar2.png" alt="">
      </div>
      <div class="image">
        <img src="images/achar6.png" alt="">
      </div>
      </div>
      <div class="discription">
        <div class="info">
          <div class="ing">
            <p>Ingredients : </p>
            <p>Raw mangoes, Sarso tel, Achar Masala</p>
          </div>
          <div class="nutrition">
            <p>Nutrition value : </p>
           <p>Energy 201.9 Kcal; Protein 1.6g; Carbohydrate 12.6g; Total fat 16.9g; Sodium 4.7g; Potassium 0.2g; Calcium 0.2g; Saturated Fat 6.5g; Polyunsaturated Fat 5g; Monounsaturated Fat 4.3g; Trans Fat 0g; Cholesterol 0g</p>
          </div>
        </div>
      </div>
    </div>
    <div class="shop">

    
      <p>Order a jar from here</p>
      <form class="form" action="/" method="post">
         <div class="order-details">
           <label for="address">Address : </label>
           <input id="address" type="text" name="Address" value="" placeholder="enter your address" autocomplete="off">
           <label for="phone-no">Phone No.</label>
           <input id ="phone" type="text" name="phone" value="" placeholder="Enter your Phone Number" autocomplete="off">
         </div>
         <div class="order-details">
           <label for="pickel-type">Select item</label>
           <select id="options" name="type" id="cat">
             <option value="select">Select</option>
              <option value="250gm">250gm Mango Pickel</option>
              <option value="500gm">500gm Mango Pickel</option>
              <option value="1kg">1kg Mango Pickel</option>
          </select>
         </div>
         <div class="">
           <button type="submit" name="button">Add item to cart</button>
           <button type="submit" name="button">Buy now</button>
         </div>

      </form>
    </div>
    <div class="contact">

    </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/index.js" charset="utf-8"></script>
  </body>
</html>
